extends ../layout

block content
  .container
    .text-center
      h1= title
    .row
      form.form-horizontal(action='/superheroes/' + superhero._id + '/edit', method='POST')
        .form-group
          label.col-sm-2.label-control(for='name') Name:
          .col-sm-10
            input#name.form-control(type='text' name='name' value=superhero.name)
        .form-group
          label.col-sm-2.label-control(for='power') Power:
          .col-sm-10
            input#power.form-control(type='text' name='power' value=superhero.power)
        .form-group
          label.col-sm-2.label-control(for='nemesis') Nemesis:
          .col-sm-10
            input#nemesis.form-control(type='text' name='nemesis' value=superhero.nemesis)
        .form-group
          .col-sm-offset-2.col-sm-9
            button.btn.btn-primary(type='submit') Update Hero
            a(style="margin-left: 15px;" href='/superheroes') Cancel
      .col-md-offset-2
        form.form-horizontal(action='/superheroes/' + superhero._id + '/delete', method='POST')
          .form-group
            button.btn.btn-danger(type='submit') Delete Hero